* {
  margin: 0;
  padding: 0;
  top: 0;
  box-sizing: content-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  /* background-color: rgb(231, 249, 168); */
  background-color: rgb(152, 251, 152);
  color: rgb(148, 52, 165);
}

.logo {
  display: flex;
  position: absolute;
  top: 40%;
  left: 10%;
  width: 100px;
  height: 100px;
  align-items: left;
  margin: 10px 0px 10px 0px;
}
