body {
  height: 95vh;
  width: 95vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(170, 155, 203);
  color: rgb(148, 52, 165);
}

.logo {
  display: flex;
  flex-direction: column;
  height: 50px;
  width: 50px;
  margin: 10px 0px 0px 10px;
}

#gameBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 50px #6e27e8;
  overflow: hidden;
  border-radius: 10px;
}
